.brand {
    color :#333;
    padding-right: 20px;
}

.logo {
    display: inline-block !important;
    vertical-align: -5px;
}

.navbar-brand a:hover {
    text-decoration: none;
}

p.title {
    font-weight: bolder;
    text-align: center;
}
