{% extends 'layout' %}

{% block body %}

<script type="text/javascript" src="/js/bootstrap3-typeahead.js"></script>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <form method="post" action="/product">
                    <input id="product-name" name="productName" class="form-control" type="text" placeholder="product name" required/>
                    <div id="raw-material-list" class="container">
                        <div class="row raw-material-row">
                            <div class="col-xs-4">
                                <select name="rawMaterialId" class="form-control raw-material-select" required>
                                    {% for rawMaterial in rawMaterials %}
                                        <option value="{{ rawMaterial.id }}" {% if rawMaterial.id == firstRawMaterialId %}selected{% endif %}>{{ rawMaterial.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <input name="quantity" class="form-control raw-material-quantity" type="number" step="any" placeholder="quantity" required/>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-default remove-raw-material">Remove</button>
                            </div>
                        </div>
                        <div id="add-raw-material-row" class="row">
                            <div class="col-xs-12">
                                <button id="add-raw-material" type="button" class="btn btn-default">Add Raw Material</button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button id="save-button" name="save-button" class="btn btn-default">Save Product</button>
                        <button id="clear-button" type="button" name="save-button" class="btn btn-default">Clear Form</button>
                    </div>
                    <input id="create-operation" name="operation" value="create" type="hidden" />
                </form>
            </div>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Raw Materials</th>
                        <th>Disabled</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr productId="{{ product.id }}">
                            <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                            <td>
                                <ul>
                                    {% for formulation in product.formulation %}
                                        <li>{{ formulation.rawMaterial.name }} ({{ formulation.quantityDescription }})</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td><input type="checkbox" class="form-control disabled-checkbox" {% if product.disabled %}checked{% endif %}/></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form id="disable-enable-form" action="/product" method="post" style="display: none">
            <input id="productId" name="productId" type="hidden"/>
            <input id="productDisabled" name="disabled" type="hidden"/>
            <input id="operation" name="operation" type="hidden" value="disable"/>
        </form>
    </div>
</div>

<script type="text/javascript">

    var firstRawMaterialId = "{{ firstRawMaterialId }}";

    var rawMaterialUnits = {};
    {% for rawMaterial in rawMaterials %}
        rawMaterialUnits["{{ rawMaterial.id }}"] = "{{ rawMaterial.units }}";
    {% endfor %}

    function addRawMaterialEventHandlers() {
        $(".remove-raw-material").on("click", function() {
            $(this).closest(".row").remove();
        });
        var $rawMaterialSelect = $(".raw-material-select");
        $rawMaterialSelect.on("change", function() {
            $(this).closest(".raw-material-row").find(".raw-material-quantity").attr("placeholder", "decimal amount in " + rawMaterialUnits[this.value]);
        });

        if(firstRawMaterialId !== "null") {
            $rawMaterialSelect.closest(".raw-material-row").find(".raw-material-quantity").attr("placeholder", "decimal amount in " + rawMaterialUnits[firstRawMaterialId]);
        }
    }

    function addRawMaterialRow() {
        $("#add-raw-material-row").before(
                "<div class=\"row raw-material-row\">\n" +
                "    <div class=\"col-xs-4\">\n" +
                "         <select name=\"rawMaterialId\" class=\"form-control raw-material-select\" required>" +
                            {% for rawMaterial in rawMaterials %}
        "                       <option value=\"{{ rawMaterial.id }}\" {% if rawMaterial.id == firstRawMaterialId %}selected{% endif %}>{{ rawMaterial.name }}</option>" +
                            {% endfor %}
        "        </select>" +
        "    </div>\n" +
        "    <div class=\"col-xs-4\">\n" +
        "        <input name=\"quantity\" class=\"form-control raw-material-quantity\" type=\"number\" step=\"any\" placeholder=\"quantity\" required />\n" +
        "    </div>\n" +
        "    <div class=\"col-xs-4\">\n" +
        "        <button type=\"button\" class=\"btn btn-default remove-raw-material\">Remove</button>\n" +
        "    </div>\n" +
        "</div>");
        addRawMaterialEventHandlers();
    }

    $("#add-raw-material").on("click", function() {
        addRawMaterialRow();
    });

    $(".remove-raw-material").on("click", function() {
        $(this).closest(".row").remove();
    });

    $("#clear-button").on("click", function() {
        $("#product-name").val("");
        $(".raw-material-row").remove();
        addRawMaterialRow();
    });


    $(".disabled-checkbox").on("change", function() {
        var rawMaterialId = $(this).closest("tr").attr("productId");
        $("#productId").val(rawMaterialId);
        if($(this).is(":checked")) {
            console.log("disabling " + rawMaterialId);
            $("#productDisabled").val("true");
        }
        else {
            console.log("enabling " + rawMaterialId);
            $("#productDisabled").val("false");
        }
        $("#disable-enable-form").submit();
    });

    //set the placeholder for the initial raw-material row
    addRawMaterialEventHandlers();
</script>

{% endblock %}
