{% extends 'layout' %}

{% block body %}

<div class="container">
    {% if userSession.rawMaterialAdmin %}
    <div class="row">
        <form id="create-form" method="post" action="/raw-material">
            <div class="col-xs-4">
                <input name="name" class="form-control" type="text" placeholder="name" required/>
            </div>
            <div class="col-xs-4">
                <select name="units" class="form-control" required>
                    {% for unit in allUnits %}
                        <option value="{{ unit.name }}">{{ unit.displayName }}</option>
                    {% endfor %}
                </select>
            </div>
            <input name="operation" type="hidden" value="create" />
            <div class="col-xs-4">
                <button id="save-button" name="save-button" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="row"><div class="col-xs-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Stock</th>
                        <th>Value</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for material in rawMaterials %}
                    <tr materialId="{{ material.id }}">
                        {% if userSession.rawMaterialAdmin %}
                            <td><a href="/raw-material/{{ material.id }}?offset={{ offset }}&limit={{ limit }}">{{ material.name }}</a></td>
                        {% else %}
                            <td>{{ material.name }}</td>
                        {% endif %}
                        <td>{{ material.units.displayName }}</td>
                        <td>{{ material.totalQuantity }} {{ material.units.displayName }}</td>
                        <td>{{ material.totalValue | currencyformat }}</td>
                        <td><a href="/raw-material/{{ material.id }}/stock" class="btn btn-default">Capture Stock</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form id="disable-enable-form" action="/raw-material" method="post" style="display: none">
        <input id="rawMaterialId" name="rawMaterialId" type="hidden"/>
        <input id="rawMaterialDisabled" name="disabled" type="hidden"/>
        <input name="offset" type="hidden" value="{{ offset }}"/>
        <input name="limit" type="hidden" value="{{ limit }}" />
        <input id="operation" name="operation" type="hidden" value="disable"/>
    </form>
</div>

<script type="text/javascript">
    $("#save-button").on("click", function() {
        $("#create-form").submit();
    });
    $(".disabled-checkbox").on("change", function() {
        var rawMaterialId = $(this).closest("tr").attr("materialId");
        $("#rawMaterialId").val(rawMaterialId);
        if($(this).is(":checked")) {
            console.log("disabling " + rawMaterialId);
            $("#rawMaterialDisabled").val("true");
        }
        else {
            console.log("enabling " + rawMaterialId);
            $("#rawMaterialDisabled").val("false");
        }
        $("#disable-enable-form").submit();
    });
</script>

{% endblock %}
