{% extends 'layout' %}

{% block body %}

<div class="container">
    <div class="row">
        <form id="create-form" method="post" action="/raw-material/{{ rawMaterial.id }}/stock">
            <div class="col-xs-4">
                <input name="invoiceNumber" class="form-control" type="text" placeholder="Invoice number" required/>
            </div>
            <div class="col-xs-4">
                <input name="supplier" class="form-control" type="text" placeholder="Supplier" required/>
            </div>
            <div class="col-xs-4">
                <input name="invoiceDate" class="form-control" type="date" placeholder="Invoice date" required/>
            </div>
            <div class="col-xs-4">
                <input name="quantity" class="form-control" type="number" step="any" placeholder="Quantity {{ rawMaterial.units.displayName }}" required/>
            </div>
            <div class="col-xs-4">
                <input name="value" class="form-control" type="number" step="any" placeholder="Invoice amount" required/>
            </div>
            <div class="col-xs-4">
                <button id="save-button" name="save-button" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
    <div class="row"><div class="col-xs-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Captured</th>
                        <th>Supplier</th>
                        <th>Invoice</th>
                        <th>Quantity</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for receipt in receipts %}
                    <tr receiptId="{{ receipt.id }}">
                        <td>{{ receipt.dateCaptured }} by {{ receipt.user.email }}</td>
                        <td>{{ receipt.supplier }}</td>
                        <td>{{ receipt.invoiceNumber }} on {{ receipt.invoiceDate }}</td>
                        <td>{{ receipt.quantity }} {{ receipt.rawMaterial.units }}</td>
                        <td>{{ receipt.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
